fastapi~=0.100.1
uvicorn~=0.23.2
python-multipart
aiohttp~=3.8.4
pydantic~=2.1.1
pydantic_settings~=2.0.1
aiokafka~=0.8.1
transliterate~=1.10.2
pytz~=2024.1
starlette_context~=0.3.6
motor~=3.2.0
PyJWT~=1.7.1
aiogram~=3.1.1
aiokafka~=0.8.1
mongomock_motor~=0.0.13
pytest~=8.1.1
pytest-asyncio~=0.23.6
mongomock_motor~=0.0.13
pytest-mock~=3.14.0
requests
